---
import type { Todo } from '~/components/scripts/get-todo';

interface Props extends Todo {}

const { name, action } = Astro.props;
---

<a
  class="link"
  class="font-normal"
  href={action}
  target={"ueuie_todo_action:" + name.replaceAll(" ", "_").toLowerCase()}
>
  {name}
</a>
