---
import { getLabels } from '~/utils/i18n';
const labels = getLabels(Astro, {
  privacy_policy: {
    en: 'Privacy Policy',
    de: 'Datenschutz-Bestimmungen',
    ua: 'Політика Конфіденційності',
  },
  terms_of_service: {
    en: 'Terms of Service',
    de: 'Nutzungsbedingungen',
    ua: 'Умови Використання',
  },
});

const prefix = Astro.params.lang ? `/${Astro.params.lang}` : '';
---

<div class="flex gap-2 items-center">
  <a href={`${prefix}/legal/privacy-policy`} class="link text-xs">{labels['privacy_policy']}</a>
  <!-- <a class="link text-xs">Cookies Manager</a> -->
  <a href={`${prefix}/legal/terms-of-service`} class="link text-xs">{labels['terms_of_service']}</a>
  <!-- <a class="link text-xs">RSS</a> -->
</div>
