<div class="flex gap-2 items-center">
  <a href="/legal/privacy-policy" class="link text-xs">Privacy Policy</a>
  <!-- <a class="link text-xs">Cookies Manager</a> -->
  <a href="/legal/terms-of-service" class="link text-xs">Terms of Service</a>
  <!-- <a class="link text-xs">RSS</a> -->
</div>
