---
import type { Lang } from "~/utils/i18n"
import { getCollection } from "astro:content";

interface Params {
  slug: string;
}
/* -------------------------------------------------------------------------- */
/*                                Static Paths                                */
/* -------------------------------------------------------------------------- */
export async function getStaticPaths() {
    const entries = await getCollection('legals');
  
    let results: { params: Params }[] = [];
  
    entries.forEach((entry) => {
      const [, slug] = entry.slug.split('/') as [Lang, string];
      results.push({ params: { slug: slug! } });
    });
  
    return results;
}
/* ------------------------------------ . ----------------------------------- */
---
<body>
    <script is:inline define:vars={{ href:  Astro.params.slug}}>
      window.location.replace(`/en/legal/${href}`)
    </script>
</body>
