---
import { getCollection } from 'astro:content';
import { parseContentCollectionSlug } from '~/utils/contents/parse-collection-slug';

type Params = {
  slug: string;
};

/* -------------------------------------------------------------------------- */
/*                                Static Paths                                */
/* -------------------------------------------------------------------------- */
export async function getStaticPaths() {
  const entries = await getCollection('content', (entry) => {
    const [, { section }] = parseContentCollectionSlug(entry.slug);
    return section === 'legal';
  });

  const returns: { params: Params }[] = [];

  entries.forEach((entry) => {
    const [, , { slug }] = parseContentCollectionSlug(entry.slug);
    returns.push({ params: { slug } });
  });

  return returns;
}

/* ------------------------------------ - ----------------------------------- */
const { slug } = Astro.params as Params;
---

<body>
  <script is:inline define:vars={{ slug: slug }}>
    window.location.replace(`/en/legal/${slug}`);
  </script>
</body>
