---
import RunningPathings from "../../components/background/running-pathings/running-pathings.astro";
import AutoPref from "../../components/scripts/auto-pref.astro";
import Footer from "../../components/footer/footer.astro";
import Header from "../../components/header/header.astro";
import Meta from "../../components/meta/meta.astro";
import { Lang, getLangSSR } from "../../utils/i18n";
import { getPrefSSR } from "../../utils/pref";

// ----
interface Props {
  lang?: Lang;
}

/* -------------------------------------------------------------------------- */
/*                                     SSR                                    */
/* -------------------------------------------------------------------------- */
const lang = Astro.props.lang || getLangSSR(Astro);
const pref = await getPrefSSR(Astro);
---

<html lang={lang} dir={pref.dir} class="w-full h-full" data-theme={pref.theme}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <Meta />
    <AutoPref enable={!pref.theme} />
    <title>UEUIE</title>
  </head>
  <body class:list={["w-full h-full", "flex flex-col items-stretch"]}>
    <RunningPathings />
    <!--  -->
    <Header />
    <div class:list={["w-full h-full", "flex justify-center items-center"]}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
