---
import Head from '../../components/head/index.astro';

interface Props {
  name: string;
}

/* -------------------------------------------------------------------------- */
/*                                     SSR                                    */
/* -------------------------------------------------------------------------- */
---

<html class="w-full h-full">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <Head />
    <title>{Astro.props.name} | UEUIE</title>
  </head>
  <body class:list={['w-full h-full', 'flex justify-center items-center', 'bg-base-100']}>
    <slot />
  </body>
</html>
