---
import Meta from "../../components/meta/meta.astro";
import Auto from "../../components/scripts/auto-pref.astro";
import { getLangSSR } from "../../utils/i18n";
import { getPrefSSR } from "../../utils/pref";

interface Props {
  name: string;
}

/* -------------------------------------------------------------------------- */
/*                                     SSR                                    */
/* -------------------------------------------------------------------------- */
const pref = await getPrefSSR(Astro);
const lang = getLangSSR(Astro) || Astro.props;
---

<html lang={lang} dir={pref.dir} class="w-full h-full" data-theme={pref.theme}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <Meta />
    <Auto enable={!pref.theme} />
    <title>{Astro.props.name} | UEUIE</title>
  </head>
  <body
    class:list={[
      "w-full h-full",
      "flex justify-center items-center",
      "bg-base-100",
    ]}
  >
    <slot />
  </body>
</html>
