---
import RunningPathings from '~/components/background/running-pathings/running-pathings.astro';
import Footer from '~/components/footer/footer.astro';
import Header from '~/components/header/header.astro';
import Head from '~/components/head/index.astro';
---

<html lang={Astro.params.lang} dir="ltr" class="w-full h-full">
  <head>
    <Head />
    <title>UEUIE</title>
  </head>
  <body class:list={['w-full h-full', 'flex flex-col items-stretch']}>
    <RunningPathings />
    <!--  -->
    <Header />
    <div class:list={['w-full h-full', 'flex justify-center items-center']}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
